---
const images = await Astro.glob("/public/seller-images/*");
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro - Seller Images</title>
  </head>
  <body class="p-8 flex items-start">
    <div class="w-1/3 p-4">
      <h1 class="text-xl mb-8">Seller Images</h1>
      <ul>
        {
          images.map((image) => {
            const url = image.default.slice(7);
            return <li class="xs">{currentPath + url}</li>;
          })
        }
      </ul>
    </div>
    <div class="w-2/3 grid grid-cols-6 gap-4">
      {
        images.map((image) => {
          const url = image.default.slice(7);
          return <img class="w-full" src={url} />;
        })
      }
    </div>
  </body>
</html>
