---
const images = await Astro.glob("/public/seller-images/*");
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro - Seller Images</title>
  </head>
  <body class="p-8 flex items-start">
    <div class="w-2/5">
      <h1 class="text-xl mb-8">Seller Images</h1>
      <ol class="list-decimal">
        {
          images.map((image) => {
            const url = image.default;
            return <li class="text-sm mb-2">{currentPath + url}</li>;
          })
        }
      </ol>
    </div>
    <div class="w-3/5 grid grid-cols-4 gap-4">
      {
        images.map((image) => {
          const url = image.default;
          return <img class="w-full" src={url} />;
        })
      }
    </div>
  </body>
</html>
